.container{
    padding: 2rem;
    background-color: #fefefe;
    width: 100%;
    height: 48rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 13vw 1fr 23vw;
    grid-column-gap: 2rem;
}
.navigation_section{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navigation{
        grid-row: 2/-1;
        grid-column: 1/2;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        &_list{
            list-style: none;
        }
        &_item{
            &:not(:last-child){
                margin-bottom: 3rem;
            }
            position: relative;
            &::before{
                content: "";
                opacity: 0;
                position: absolute;
                margin-left: -2rem;
                top: 0;
                left: 0;
                width: 3px;
                height: 150%;
                background-color: #F4EAE1;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                transform: translateY(-10%);
                transition: all .1s;
            }
            &:hover::before{
                opacity: 1;
                width: 37%;
            }
        }
        &_link{
            position: relative;
            z-index: 10;
            &:link,&:visited{
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: orange;
            }
        }
        &_exit_link{
            margin-top: 3rem;
            width: 2rem;
            &:link,&:visited{
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: orange;
            }
        }
        &_text{
            padding-top: 0.3rem;
            font-size: 12px;
        }
    }
}
.main_section{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2,3rem) min-content minmax(5rem,1fr) 3rem 5rem 6rem;//7rows

    .search{
        grid-row: 1/2;
    &_icon
    {
            width: 1.1rem;
            height: 1.1rem;
            margin-left: -1rem;
            transform: translate(-50%,20%);
    }
    &_bar{
        width: 50%;
        height: 2rem;
        background-color: #eeeeee;
        border-radius: 1rem;
        border-style: none;
        padding: 1rem 1.5rem;
        outline-style: none;
    }
        
    }
    .models{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 1rem;
        justify-content: space-between;
        .model{
            &_img{
                width: 90%;
                height: 40vh;
                border-radius: 1rem;
                margin: 2rem 0;
                z-index: 10;
                &-1{
                    box-shadow: 0 0.8rem 1rem rgba(65, 105, 225, 0.3);
                }
                &-2{
                    box-shadow: 0 0.8rem 1rem rgba(255, 0, 0, 0.3);
                }
                &-3{
                    box-shadow: 0 0.8rem 1rem rgba(0, 255, 255, 0.3);
                }
            }
        }
    }
    .calender{
        display: flex;
        justify-content: space-between;
        .date{
            border-radius: 2rem;
            &>*{
                margin: 1rem;
            }
            &:hover{
              background-color: orange;
              color: #fff;  
            }
        }
    }
    .events{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        .tile{
            border: 1.5px solid rgba(0, 0, 0, 0.5);
            border-radius: 1rem;
            width: 47%;
            padding: 0.8rem;
            display: grid;
            grid-template-rows: 1rem 1fr;
            grid-template-columns: 1fr 4fr;
            grid-column-gap: 0.5rem;
            grid-row-gap: 0.5rem;
            transition: all .2s;
            &:hover
            {
                transform: translateY(-0.5rem);
            }
            &_icon{
                grid-row: 1/-1;
                grid-column: 1/2;
                height: 2rem;
                width: 3rem;
            }
            p{
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: 10px;
            }
        }
    }
    
}
.side_section
    {
        grid-column: 3/4;
        display: grid;
        grid-template-rows: 2rem 3rem min-content minmax(5rem,1.3fr) 3rem min-content minmax(3rem,0.7fr) 3rem min-content minmax(3rem,1fr) min-content;//11
        .profile{
            position: relative;
            justify-self: end;
            &_photo{
                position: relative;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-left: 1rem;
                z-index: 110;
            }
            #profile_checkbox{
                position: absolute;
                top: 0;
                right: 0;
                display: none;
            }
            .profile_background{
                position: absolute;
                top: 0;
                right: 0;
                background-image: radial-gradient(
                    #f4eae1,
                    hsl(28, 91%, 79%)
                );
                padding: 1rem;
                border-radius: 0.5rem;
                width: 20vw;
                height: 70vh;
                z-index: 100;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                opacity: 0;
                visibility: hidden;
            }
            #profile_checkbox:checked ~ .profile_background{
                opacity: 1;
                visibility: visible;
            }
            .profile_list{
                list-style: none;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            .notification_icon
            {
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            }   
        }
        .cards{
            position: relative;
            .credit_card{
                border-radius: 0.5rem;
                position: absolute;
                width:90%;
                &-1{
                    box-shadow: 0 0.5rem 1rem rgba(128, 0, 128, 0.3);
                    left: 1.5rem;
                    top: 0;
                }
                &-2{
                    box-shadow: 0 0.5rem 1rem rgba(255, 166, 0, 0.3);
                    left: 0;
                    top:1rem;
                }
            }
        }
        .graph_details{
            display: flex;
            justify-content: space-between;
        }
        .percentage{
            justify-self: center;
            font-weight: 700;
            font-size: 6rem;
            &_text{
                justify-self: center;
                align-self: center;
                color: rgba(255, 166, 0, 0.8);
                font-size: 0.8rem;
            }
        }
        
    }
