.container{
    padding: 2rem;
    background-color: #fefefe;
    width: 100%;
    height: 125vh;
    border-radius: 1rem;
    display: grid;
    //grid-template-rows: repeat(2,3rem) 1fr 6rem 3rem;
    grid-template-columns: 15vw 1fr 25vw;
}
.navigation_section{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navigation{
        grid-row: 2/-1;
        grid-column: 1/2;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        &_list{
            list-style: none;
        }
        &_item{
            &:not(:last-child){
                margin-bottom: 3rem;
            }
            position: relative;
            &::before{
                content: "";
                opacity: 0;
                position: absolute;
                margin-left: -2rem;
                top: 0;
                left: 0;
                width: 3px;
                height: 130%;
                background-color: #F4EAE1;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                transition: all .1s;
            }
            &:hover::before{
                opacity: 1;
                width: 35%;
            }
        }
        &_link{
            position: relative;
            z-index: 10;
            &:link,&:visited{
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: orange;
            }
        }
        &_exit_link{
            &:link,&:visited{
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: orange;
            }
        }
        &_icon{
            fill: currentColor;
            float: left;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 1rem;
            &-exit{
                margin-top: 20vh;
                transform: rotateY(180deg);
            }
        }
        &_text{
            padding-top: 0.3rem;
            font-size: 12px;
        }
    }
}
.main_section{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2,3rem) min-content minmax(5rem,1fr) 3rem repeat(2,5rem);//7rows

    .search{
        grid-row: 1/2;
    &_icon
    {
            width: 1.1rem;
            height: 1.1rem;
            margin-left: -1rem;
            transform: translate(-50%,20%);
    }
    &_bar{
        width: 50%;
        height: 2rem;
        background-color: #eeeeee;
        border-radius: 1rem;
        border-style: none;
        padding: 1rem 1.5rem;
    }
        
    }
    .category{
        font-size: 0.7rem;
        font-weight: 400;
        margin-right: 2rem;
    }
    .models{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 1rem;
        justify-content: space-between;
        .model{
        //position: relative;
            &_img{
                /*position: absolute;
                top: 0;
                left: 0;*/
                width: 90%;
                height: 40vh;
                border-radius: 1rem;
                margin: 2rem 0;
                box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.315);
                z-index: 10;
            }
            /*&_img-blur{
                position: absolute;
                top: 1rem;
                left: 0;
                width: 90%;
                height: 40vh;
                border-radius: 1rem;
                margin: 2rem 0;
                filter: blur(1rem);
                z-index: 5;
            }*/
        }
    }
}
/*.header{
    //background-color: rgb(255, 241, 116);
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    
    .notification_icon
    {
        width: 1.5rem;
        height: 1.5rem;
    }    
    .profile{
        justify-self: end;
        &_photo{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin-left: 1rem;
            margin-top: 5px;
        }
    }
}*/
