*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    background-color: #F4EAE1;
    padding: 2rem;
}
.category{
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 2rem;
    //margin-top: 2rem;
    margin-bottom: 2rem;
}